[submodule "themes/strange-case"]
	path = themes/strange-case
	url = https://github.com/hgkald/strange-case
[submodule "themes/lanyon-hugo"]
	path = themes/lanyon-hugo
	url = git@github.com:hgkald/lanyon-hugo.git
[submodule "data/comments"]
	path = data/comments
	url = https://github.com/hgkald/pa-norsk-comments.git
