[submodule "themes/strange-case"]
	path = themes/strange-case
	url = https://github.com/hgonzal/strange-case
[submodule "themes/lanyon-hugo"]
	path = themes/lanyon-hugo
	url = git@github.com:hgonzal/lanyon-hugo.git
[submodule "data/comments"]
	path = data/comments
	url = https://github.com/hgonzal/pa-norsk-comments.git
